.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    color: #144b94;
    font-family: fantasy;
    font-size: large;

}
.motto{
    font-family: "Lato", serif;
    color: dimgrey;

}
.logo{
    image-resolution: snap;

}